/* RESET CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,span {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
fieldset,img {
    border: 0;
}
strong{
    font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}

/* BASE
 * --------------------------------------- */

body {
    background-color: white;
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Container
 * --------------------------------------- */

.container {
    position: relative;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1618px) {
    .container {
        width: 1400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1525px) {
    .container {
        width: 1300px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1410px) {
    .container {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1244px) {
    .container {
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 1052px) {
    .container {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 848px) {
    .container {
        width: calc(100% - 40px);
    }
}
